*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}
html, body {
    width: 100%;
    height: 100%;
}
#conteiner {
    width: 90%;
    height: 90%;
    border: 1px solid darkolivegreen; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
#conteiner div {
    display: flex;
    justify-content: center;
    align-items: center;  
    /* justify-content paneb teksi horisontaalselt paika ja align paneb vertikaalselt paika. */
}
#header{
flex-basis: 100%;
background: lightblue;
order: 1; 
height: 100px;

}
#left{
    flex: 2;
    background: lightgoldenrodyellow;
    order: 2; 
    
}
#main{
    flex: 4;
    background: lightsalmon;
    order: 4; 
    height: calc(100% - 200px);
}
#right{
    flex: 1;
    background: lightpink;
    order: 3; 
}
#footer{
    flex-basis: 100%;
    background: lightgreen;
    order: 5; 
    height: 100px;
}
/* media peab kirjutama kõige alla, et see tööle hakkaks */
@media(max-width: 500px) {
    #left{
        flex: 1;
        height: 150px;
    }
    #right{
        flex: 1;
    height: 150px;
    }
    #main{
        flex-basis: 100%;
        height: calc(100% - 350px);
    }
}