*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}
html, body {
    width: 100%;
    height: 100%;
    
}
#conteiner {
    display: grid;
    height: 100%;
    width: 100%;
     grid-template-columns: 250px auto;
    grid-template-rows: 250px 50px auto 75px;
    /*grid-template-areas: 
    "mainNav header"
    "mainNav topNav"
    "mainNav main"
    "mainNav footer"; */
}
#conteiner div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#header {
    /* grid-area: header; */
    grid-column: 2/5;
}
#topNav{
    /* grid-area: topNav; */
    grid-column: 2/5;
    
}
#mainNav {
/* grid-area: mainNav; */
grid-column: 1/2;
    grid-row: 1/5;
} 
#main{
/* grid-area: main; */
grid-column: 2/5;
    
}
#footer{
/* grid-area: footer; */
grid-column: 2/5;
}
@media(max-width: 600px) {
    #conteiner {  
    grid-template-columns: 1fr; 
    grid-template-rows: 100px 75px 100px auto 50px;  
   /* grid-template-areas: 
   "header"
   "footer"
   "mainNav"
   "main"
   "topNav";*/
}
#header{
    /* grid-area: header; */
    grid-column: 1/2;
    grid-row: 1/2;
}
#topNav{
    /* grid-area: topNav; */
    grid-column: 1/2;
    grid-row: 5/6; 
}
#mainNav {
/* grid-area: mainNav; */
grid-column: 1/2;
grid-row: 3/4;
} 
#main{
/* grid-area: main; */
grid-column: 1/2;
grid-row: 4/5;
}
#footer{
/* grid-area: footer; */
grid-column: 1/2;
grid-row: 2/3;
}
} 